# <center>**üêçPython Data Science Toolbox:(Part-1)üêç**</center>

In [1]:
url = 'https://raw.githubusercontent.com/mohd-faizy/CAREER-TRACK-Data-Scientist-with-Python/main/08_Python-data-science-toolbox-(part-1)/_datasets/tweets.csv'

In [2]:
import pandas as pd

tweets_df = pd.read_csv(url)
tweets_df.columns

Index(['contributors', 'coordinates', 'created_at', 'entities',
       'extended_entities', 'favorite_count', 'favorited', 'filter_level',
       'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'retweet_count',
       'retweeted', 'retweeted_status', 'source', 'text', 'timestamp_ms',
       'truncated', 'user'],
      dtype='object')

In [3]:
tweets_df.head(2)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."

# 1Ô∏è‚É£**Writing your own functions**

### **Strings in Python**

In [4]:
object1 = "data" + "analysis" + "visualization"
object2 = 1 * 3
object3 = "1" * 3

print(object1 )
print(object2 )
print(object3 )

dataanalysisvisualization
3
111

### **Recapping built-in functions**

In [5]:
x=3

y1 = str(x)
y2 = print(x)

print(type(y1), type(y2))

3
<class 'str'> <class 'NoneType'>

### **Write a simple function**

In [6]:
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations' + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout
shout()

congratulations!!!

### **Single-parameter functions**

In [7]:
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout('congratulations')
shout('Hello')

congratulations!!!
Hello!!!

### **Functions that return single values**

In [8]:
# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Replace print with return
    return shout_word

# Pass 'congratulations' to shout: yell
yell = shout('congratulations')

# Print yell
print(yell)

congratulations!!!

### **Functions with multiple parameters**

In [9]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1 + shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout('congratulations', 'you')

# Print yell
print(yell)

congratulations!!!you!!!

### **A brief introduction to tuples**

In [10]:
nums = (3, 4, 6)

# Unpack nums into num1, num2, and num3
num1, num2, num3 = nums

# Construct even_nums
even_nums = (2, num2, num3)

### **Functions that return multiple values**

In [11]:
# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'
    
    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1, shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1, yell2 = shout_all('congratulations', 'you')

# Print yell1 and yell2
print(yell1)
print(yell2)

congratulations!!!
you!!!

### **Bringing it all together (1)**

In [12]:
tweets_df.head(2)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."

In [13]:
tweets_df['lang'].head(5)

0    en
1    en
2    et
3    en
4    en
Name: lang, dtype: object

In [14]:
# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = tweets_df['lang']

# Iterate over lang column in DataFrame
for entry in col:

    # If the language is in langs_count, add 1
    if entry in langs_count.keys():
        langs_count[entry] += 1
    # Else add the language to langs_count, set the value to 1
    else:
        langs_count[entry] = 1
    print(langs_count)

# Print the populated dictionary
print(langs_count)

{'en': 1}
{'en': 2}
{'en': 2, 'et': 1}
{'en': 3, 'et': 1}
{'en': 4, 'et': 1}
{'en': 5, 'et': 1}
{'en': 6, 'et': 1}
{'en': 7, 'et': 1}
{'en': 8, 'et': 1}
{'en': 9, 'et': 1}
{'en': 10, 'et': 1}
{'en': 11, 'et': 1}
{'en': 12, 'et': 1}
{'en': 13, 'et': 1}
{'en': 14, 'et': 1}
{'en': 15, 'et': 1}
{'en': 16, 'et': 1}
{'en': 17, 'et': 1}
{'en': 18, 'et': 1}
{'en': 19, 'et': 1}
{'en': 19, 'et': 1, 'und': 1}
{'en': 20, 'et': 1, 'und': 1}
{'en': 21, 'et': 1, 'und': 1}
{'en': 22, 'et': 1, 'und': 1}
{'en': 23, 'et': 1, 'und': 1}
{'en': 24, 'et': 1, 'und': 1}
{'en': 25, 'et': 1, 'und': 1}
{'en': 26, 'et': 1, 'und': 1}
{'en': 27, 'et': 1, 'und': 1}
{'en': 27, 'et': 1, 'und': 2}
{'en': 28, 'et': 1, 'und': 2}
{'en': 29, 'et': 1, 'und': 2}
{'en': 30, 'et': 1, 'und': 2}
{'en': 31, 'et': 1, 'und': 2}
{'en': 32, 'et': 1, 'und': 2}
{'en': 33, 'et': 1, 'und': 2}
{'en': 34, 'et': 1, 'und': 2}
{'en': 35, 'et': 1, 'und': 2}
{'en': 36, 'et': 1, 'und': 2}
{'en': 37, 'et': 1, 'und': 2}
{'en': 38, 'et': 1, 'und': 2}
{'en': 39, 'et': 1, 'und': 2}
{'en': 40, 'et': 1, 'und': 2}
{'en': 41, 'et': 1, 'und': 2}
{'en': 42, 'et': 1, 'und': 2}
{'en': 43, 'et': 1, 'und': 2}
{'en': 44, 'et': 1, 'und': 2}
{'en': 45, 'et': 1, 'und': 2}
{'en': 46, 'et': 1, 'und': 2}
{'en': 47, 'et': 1, 'und': 2}
{'en': 48, 'et': 1, 'und': 2}
{'en': 49, 'et': 1, 'und': 2}
{'en': 50, 'et': 1, 'und': 2}
{'en': 51, 'et': 1, 'und': 2}
{'en': 52, 'et': 1, 'und': 2}
{'en': 53, 'et': 1, 'und': 2}
{'en': 54, 'et': 1, 'und': 2}
{'en': 55, 'et': 1, 'und': 2}
{'en': 56, 'et': 1, 'und': 2}
{'en': 57, 'et': 1, 'und': 2}
{'en': 58, 'et': 1, 'und': 2}
{'en': 59, 'et': 1, 'und': 2}
{'en': 60, 'et': 1, 'und': 2}
{'en': 61, 'et': 1, 'und': 2}
{'en': 62, 'et': 1, 'und': 2}
{'en': 63, 'et': 1, 'und': 2}
{'en': 64, 'et': 1, 'und': 2}
{'en': 65, 'et': 1, 'und': 2}
{'en': 66, 'et': 1, 'und': 2}
{'en': 67, 'et': 1, 'und': 2}
{'en': 68, 'et': 1, 'und': 2}
{'en': 69, 'et': 1, 'und': 2}
{'en': 70, 'et': 1, 'und': 2}
{'en': 71, 'et': 1, 'und': 2}
{'en': 72, 'et': 1, 'und': 2}
{'en': 73, 'et': 1, 'und': 2}
{'en': 74, 'et': 1, 'und': 2}
{'en': 75, 'et': 1, 'und': 2}
{'en': 76, 'et': 1, 'und': 2}
{'en': 77, 'et': 1, 'und': 2}
{'en': 78, 'et': 1, 'und': 2}
{'en': 79, 'et': 1, 'und': 2}
{'en': 80, 'et': 1, 'und': 2}
{'en': 81, 'et': 1, 'und': 2}
{'en': 82, 'et': 1, 'und': 2}
{'en': 83, 'et': 1, 'und': 2}
{'en': 84, 'et': 1, 'und': 2}
{'en': 85, 'et': 1, 'und': 2}
{'en': 86, 'et': 1, 'und': 2}
{'en': 87, 'et': 1, 'und': 2}
{'en': 88, 'et': 1, 'und': 2}
{'en': 89, 'et': 1, 'und': 2}
{'en': 90, 'et': 1, 'und': 2}
{'en': 91, 'et': 1, 'und': 2}
{'en': 92, 'et': 1, 'und': 2}
{'en': 93, 'et': 1, 'und': 2}
{'en': 94, 'et': 1, 'und': 2}
{'en': 95, 'et': 1, 'und': 2}
{'en': 96, 'et': 1, 'und': 2}
{'en': 97, 'et': 1, 'und': 2}
{'en': 97, 'et': 1, 'und': 2}

### **Bringing it all together (2)**

In [15]:
# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = tweets_df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] += 1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
result = count_entries(tweets_df, 'lang')

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}

In [16]:
help(count_entries)

Help on function count_entries in module __main__:

count_entries(df, col_name)
    Return a dictionary with counts of
    occurrences as value for each key.

In [17]:
# Performing the same operation using the Pandas
tweets_df['lang'].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

# 2Ô∏è‚É£**Default arguments, variable-length arguments and scope**

### **Understanding scope of a Varible**

In [18]:
# This code demonstrates the concepts of global and local variables.

# Global variable
num = 5

def func1():
    num = 3     # Local variable
    print(num)  # Prints the value of the local variable num, which is 3

def func2():
    global num            # Indicates that the variable num being used is the global one
    num = 6               # Modifies the value of the global variable num
    double_num = num * 2  # Accesses the global variable num and performs multiplication
    print(double_num)     # Prints the value of double_num, which is calculated using the global variable

func1()    # Calls func1, which prints the local variable num (3)
func2()    # Calls func2, which prints the value of double_num (10), calculated using the modified global variable
print(num) # Value of num in the global scope is 6. This is because func2() modified the global variable num to 6.

3
12
6

In [19]:
num = 5

def func1():
    num = 3     
    print(num) 

def func2():
    num = 6              
    double_num = num * 2          
    print(double_num)     

func1()   
func2()   

print(num)

3
12
5

### **The keyword global**

In [20]:
# Create a string: team
team = "teen titans"

# Define change_team()
def change_team():
    """Change the value of the global variable team."""

    # Use team in global scope
    global team

    # Change the value of team in global: team
    team = "justice league"

# Print team
print(team)

# Call change_team()
change_team()

# Print team
print(team)

teen titans
justice league

### **Python's built-in scope**

Global scope:

In [21]:
x = 10  # Variable in the global scope

def func():
    print(x)  # Accessing the global variable

func()  # Output: 10

10

Local scope

In [22]:
def func():
    y = 20  # Variable in the local scope
    print(y)

func()  # Output: 20

20

```python
print(y)  # Error: NameError: name 'y' is not defined
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-43-bcd8d8eec245> in <cell line: 6>()
      4 
      5 func()  # Output: 20
----> 6 print(y)  # Error: NameError: name 'y' is not defined

NameError: name 'y' is not defined

```

Built-in scope: The built-in scope is automatically available without any need for import statements.

In [23]:
import math

radius = 5
area = math.pi * math.pow(radius, 2)  # Using built-in functions and constants from the math module
print(area)

78.53981633974483

### **Nested Functions I**

In [24]:
# Define three_shouts
def three_shouts(word1, word2, word3):
    """Returns a tuple of strings
    concatenated with '!!!'."""

    # Define inner
    def inner(word):
        """Returns a string concatenated with '!!!'."""
        return word + '!!!'

    # Return a tuple of strings
    return (inner(word1), inner(word2) ,inner(word3))

# Call three_shouts() and print
print(three_shouts('a', 'b', 'c'))

('a!!!', 'b!!!', 'c!!!')

### **Nested Functions II**

In [25]:
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

hellohello hellohellohello

### **The keyword nonlocal and nested functions**

In [26]:
# Define echo_shout()
def echo_shout(word):
    """Change the value of a nonlocal variable"""
    
    # Concatenate word with itself: echo_word
    echo_word = word * 2
    
    #Print echo_word
    print(echo_word)
    
    # Define inner function shout()
    def shout():
        """Alter a variable in the enclosing scope"""    
        #Use echo_word in nonlocal scope
        nonlocal echo_word
        
        #Change echo_word to echo_word concatenated with '!!!'
        echo_word = echo_word + '!!!'
    
    # Call function shout()
    shout()
    
    #Print echo_word
    print(echo_word)

#Call function echo_shout() with argument 'hello'    
echo_shout('hello')

hellohello
hellohello!!!

### **Functions with one default argument**

In [27]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
     exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo() with "Hey": no_echo
no_echo = shout_echo('Hey')

# Call shout_echo() with "Hey" and echo=5: with_echo
with_echo = shout_echo('Hey', 5)

# Print no_echo and with_echo
print(no_echo)
print(with_echo)

Hey!!!
HeyHeyHeyHeyHey!!!

### **Functions with multiple default arguments**

In [28]:
# Define shout_echo
def shout_echo(word1, echo=1, intense=False):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Capitalize echo_word if intense is True
    if intense is True:
        # Capitalize and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = shout_echo('Hey', 5, True)

# Call shout_echo() with "Hey" and intense=True: big_no_echo
big_no_echo = shout_echo('Hey', intense=True)

# Print values
print(with_big_echo)
print(big_no_echo)

HEYHEYHEYHEYHEY!!!
HEY!!!

### **Functions with variable-length arguments (*args)**

In [29]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = ""

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish('luke')

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

luke
lukeleiahanobidarth

### **Functions with variable-length keyword arguments (**kwargs)**

In [30]:
# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

# First call to report_status()
report_status(name='luke', affiliation='jedi', status='missing')

# Second call to report_status()
report_status(name='anakin', affiliation='sith lord', status='deceased')

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: deceased

END REPORT

### **Bringing it all together (1)**

In [31]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]

    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1

        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, col_name='lang')

# Call count_entries(): result2
result2 = count_entries(tweets_df, col_name='source')

# Print result1 and result2
print(result1)
print(result2)

{'en': 97, 'et': 1, 'und': 2}
{'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

### **Bringing it all together (2)**

In [32]:
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Call count_entries(): result2
result2 = count_entries(tweets_df, 'lang', 'source')

# Print result1 and result2
print(result1)
print(result2)

{'en': 97, 'et': 1, 'und': 2}
{'en': 97, 'et': 1, 'und': 2, '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

# 3Ô∏è‚É£**Lambda functions and error-handling**

### **lambda functions**

In [33]:
add = lambda x, y: x + y
result = add(3, 5)
print("SUM: ", result)  

numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x ** 2, numbers)
print("Square: ", list(squared))

SUM:  8
Square:  [1, 4, 9, 16, 25]

In [34]:
# Define echo_word as a lambda function: echo_word
echo_word = lambda word1, echo: word1 * echo

# Call echo_word: result
result = echo_word('hey', 5)

# Print result
print(result)

heyheyheyheyhey

### **`Map()` and lambda functions**

```python
map(function, iterable)

```

In [35]:
# Using the Regular function
def squareFunc(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squared = map(squareFunc, numbers)
result = list(squared)
print(result)

[1, 4, 9, 16, 25]

In [36]:
# Using the Lambda function
numbers = [1, 2, 3, 4, 5]
squared = map((lambda x: x**2), numbers)
result = list(squared)
print(result)

[1, 4, 9, 16, 25]

In [37]:
# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map((lambda a: a +'!!!'), spells)

# Convert shout_spells to a list: shout_spells_list
shout_spells_list = list(shout_spells)

# Convert shout_spells into a list and print it
print(shout_spells_list)

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

### **`Filter()` and lambda functions**

```python
filter(function, iterable)

```

In [38]:
def is_even(x):
    return x % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter(is_even, numbers)
result = list(even_numbers)
print(result)

[2, 4, 6, 8, 10]

In [39]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
result = list(even_numbers)
print(result)

[2, 4, 6, 8, 10]

In [40]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member: len(member) > 6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

### **`Reduce()` and lambda functions**

```python
from functools import reduce
reduce(function, iterable, initializer)
```

In [41]:
from functools import reduce

def multiply(x, y):
    return x * y

numbers = [1, 2, 3, 4, 5]
product = reduce(multiply, numbers)
print(product)

120

In [42]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
product = reduce((lambda x, y: x * y), numbers)
print(product)

120

In [43]:
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Use reduce() to apply a lambda function over stark: result
result = reduce((lambda item1, item2: item1 + item2), fruits)

# Print the result
print(result)

applebananacherrydateelderberry

### **Errors**

In [44]:
a = len('There is a beast in every man and it stirs when you put a sword in his hand.')
b = len(['robb', 'sansa', 'arya', 'eddard', 'jon'])
c = len(('jaime', 'cersei', 'tywin', 'tyrion', 'joffrey'))

# len(525600) # TypeError: object of type 'int' has no len()

print(a, b, c)

76 5 5

### **Error handling with try-except**

In [45]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ""
    shout_words = ""

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")

word1 must be a string and echo must be an integer.

''

### **Error handling by raising an error**

In [46]:
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo <= 0:
        raise ValueError('echo must be greater than or equal to 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=2)

'particleparticle!!!'

### **Bringing it all together (1)**

In [47]:
# Select retweets from the Twitter DataFrame: result
result = filter(lambda x: x[0:2] == 'RT', tweets_df['text'])

# Create list from filter object result: res_list
res_list = list(result)

# Print all retweets in res_list
for tweet in res_list:
    print(tweet)

RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/‚Ä¶
RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3
RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:‚Ä¶
RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!

https://t.co/7QCFz9ehNe
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https‚Ä¶
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/‚Ä¶
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https‚Ä¶
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly‚Ä¶
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https‚Ä¶
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/‚Ä¶
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://‚Ä¶
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https‚Ä¶
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://‚Ä¶
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly‚Ä¶
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N‚Ä¶
RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump
RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N‚Ä¶
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/‚Ä¶
RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethinkü§î http‚Ä¶
RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump
RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's n‚Ä¶
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN‚Ä¶
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n‚Ä¶
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN‚Ä¶
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:‚Ä¶
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n‚Ä¶
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:‚Ä¶
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P‚Ä¶
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat‚Ä¶
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P‚Ä¶
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat‚Ä¶
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T‚Ä¶
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/‚Ä¶
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn‚Äôt come out of nowhere." ‚ÄîHillary
https‚Ä¶
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T‚Ä¶
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn‚Äôt come out of nowhere." ‚ÄîHillary
https‚Ä¶
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/‚Ä¶
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t‚Ä¶
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t‚Ä¶
RT @GlendaJazzey: Donald Trump‚Äôs Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia
RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx
RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM
RT @claytoncubitt: Stop asking Bernie supporters if they‚Äôll vote for Hillary against Trump. We got a plan to beat Trump already. Called Ber‚Ä¶
RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC

### **Bringing it all together (2)**

In [48]:
# Define count_entries()
def count_entries(df, col_name='lang'):

    cols_count = {}

    try:
        col = df[col_name]
        
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
        return cols_count

    except:
        print('The DataFrame does not have a ' + col_name + ' column.')

result1 = count_entries(tweets_df, 'lang')

print(result1)

result2 = count_entries(tweets_df, 'lang1')

{'en': 97, 'et': 1, 'und': 2}
The DataFrame does not have a lang1 column.

In [49]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    cols_count = {}
    col = df[col_name]
    
    for entry in col:
        if entry in cols_count.keys():
            cols_count[entry] += 1
        else:
            cols_count[entry] = 1
    return cols_count

result1 = count_entries(tweets_df, 'lang')
print(result1)

{'en': 97, 'et': 1, 'und': 2}

### **Bringing it all together (3)**

In [50]:
def count_entries(df, col_name='lang'):

    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    cols_count = {}
    col = df[col_name]

    for entry in col:
        if entry in cols_count.keys():
            cols_count[entry] += 1
        else:
            cols_count[entry] = 1
    return cols_count

result1 = count_entries(tweets_df, 'lang')
print(result1)

{'en': 97, 'et': 1, 'und': 2}

#### $\color{skyblue}{\textbf{Connect with me:}}$


[<img align="left" src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" width="32px"/>][twitter]
[<img align="left" src="https://cdn-icons-png.flaticon.com/512/145/145807.png" width="32px"/>][linkedin]
[<img align="left" src="https://cdn2.iconfinder.com/data/icons/whcompare-blue-green-web-hosting-1/425/cdn-512.png" width="32px"/>][Portfolio]

[twitter]: https://twitter.com/F4izy
[linkedin]: https://www.linkedin.com/in/mohd-faizy/
[Portfolio]: https://mohdfaizy.com/